<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>会議利用予約一覧 - 会議室予約システム for TDDBC</title>
	<style type="text/css">
<!--
table {
	border-spacing: 0;
	border-top: #000 1px solid;
	border-right: #000 1px solid;
}
th, td {
	border-left: #000 1px solid;
	border-bottom: #000 1px solid;
	padding: 1px 10px;
}
th {
	background: #FFE;
}
-->
	</style>
</head>
<body style="width:600px;">
	<p style="text-align: right"><a href="../">[戻る]</a></p>
	<h1>会議利用予約一覧</h1>
	<div>
	<div style="text-align: right;"><a href="register.html">[登録]</a></div>
	<table style="width: 95%; margin: 0 auto;">
		<thead>
		<tr>
			<th>日時</th>
			<th>場所</th>
			<th>備考</th>
		<tr>
		</thead>
		<tbody>
		<tr>
			<td><a href="view.html">2011-09-25 10:00〜17:00</a></td>
			<td>ミーティングルーム</td>
			<td>研修</td>
		</tr>
		<tr>
			<td><a href="view.html">2011-09-25 13:00〜15:00</a></td>
			<td>大会議室</td>
			<td>Xプロジェクトキックオフ</td>
		</tr>
		<tbody>
	</table>
	</div>
</body>
</html>